<?xml version="1.0" encoding="UTF-8"?>
<!--Spring(Bean容器+切面) 配置文件 Spring Mybatis整合
    context
    开启注解: context:annotation-config
             扫描范围 component-scan base-package
    配置属性: property-placeholder  加载数据库配置属性 location="classpath:";
    获取数据源:BasicDataSource（注入属性）
            -> SqlSessionFactoryBean
            -> 配置mapper代理 MapperScannerConfigurer
    事务   : 获取事务管理器
                DataSourceTransactionManager (dataSource)
    aop 配置切面
            pointcut(对象): id="transPointCut" expression="execution(* com.kkb.service.*.*(..))"
            advisor (切面+方法) : advice-ref="transAdvice" pointcut-ref="transPointCut"
    tx 配置切面属性 (依赖事务管理器transaction-manager)
            <tx:advice id="transAdvice" transaction-manager="transactionManager">
               <tx:attributes>
                     <tx:method name="save*" propagation="REQUIRED" />
               </tx:attributes>
            </tx:advice>
-->
<!--命名空间-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx https://www.springframework.org/schema/tx/spring-tx.xsd">
    <context:annotation-config/>
    <context:component-scan base-package="com.test"/>
    <context:property-placeholder location="classpath:db.properties"/>
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="root"/>
        <property name="password" value="123"/>
        <property name="maxTotal" value="10"/>
        <property name="maxIdle" value="5"/>
    </bean>
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.test.dao"/>
    </bean>
    <!--获取事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--多部件解析器-->

    <!--AOP 切面-->
    <aop:config>
        <aop:pointcut id="transPointCut" expression="execution(* com.test.service.*.*(..))"/>
        <aop:advisor advice-ref="transAdvice" pointcut-ref="transPointCut"/>
    </aop:config>
    <tx:advice id="transAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="save*" propagation="REQUIRED"/>
            <tx:method name="insert*" propagation="REQUIRED"/>
            <tx:method name="update*" propagation="REQUIRED"/>
            <tx:method name="get*" propagation="SUPPORTS" read-only="true"/>
        </tx:attributes>
    </tx:advice>



</beans>